@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap')
//<!-- '[variables]' -->
$Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%)
$PaleBlue: hsl(243, 100%, 93%)
$GrayishBlue: hsl(229, 7%, 55%)
$DarkBlue: hsl(228, 56%, 26%)
$VeryDarkBlue: hsl(229, 57%, 11%)
$Fontsize: 14px
$FamilyRaleway:'Raleway', sans-serif
//<!-- '[mixins]' -->
@mixin subContainer()
 background: $DarkBlue
 width: 80%
 height: 150px
 padding: 20px 
 
//<!-- '[main]' -->
.main
 display: grid
 grid-template-columns: 1fr
 grid-template-rows: 1fr auto
 width: 100%
 height: 100vh

.main__containerChallenge
 background-image: url('./images/bg-mobile.png')
 background-repeat: no-repeat
 background-size: cover
 background-position: center
 display: grid
 justify-items: center
 grid-template-columns: 1fr
 grid-template-rows: 1fr 1fr
 align-items: center
 row-gap: 15px

.subContainer1
 @include subContainer

.subContainer1
 align-self: end
 border-radius: 5px 80px 5px 5px

.subContainer2
 @extend .subContainer1
 align-self: start
 border-radius: 10px

.subContainer1__controls
 width: 90%
 height: 100%
 display: grid
 grid-template-columns: repeat(3,1fr )
 grid-template-rows: repeat(2,1fr )
 grid-template-areas: 'logo logo logo' 'document folder upload'
 img
  width: 60%
  grid-area: logo
 input
  background: $VeryDarkBlue
  padding: 10px
  border-radius: 8px
  width: 40px
  height: 40px
 input:nth-child(1)
  grid-area: document
 input:nth-child(2)
  grid-area: folder
 input:nth-child(3)
  grid-area: upload

.subContainer2__controls
  display: grid
  grid-template-rows: repeat(3,auto )
  row-gap: 10px
  p
    color: $PaleBlue
.subContainer2__controls--progressBar
  background: $VeryDarkBlue
  border-radius: 40px
  padding: 2px 2px
  div
    width: 80%
    height: 10px
    background-image: linear-gradient(to right, #ffa399, #ff9092, #ff7b90, #ff6591, #ff4d97)
    border-radius: 40px
    display: grid
    justify-items: end
    align-items: center
    div
      width: 8px
      height: 8px
      border-radius: 50%
      background: white
      margin-right: 2px
.subContainer2__controls--infoDownload
  display: flex
  justify-content: space-between
  strong
    color: $PaleBlue




















.containerFooter
 display: grid
 justify-items: center
 background: #000
 width: 100%
 h3
  color: #fff
  text-align: center
 a
  color: #FF3F00
  text-transform: capitalize
  text-decoration: none
  &:hover
   text-decoration: underline
